<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.xiaoyiduo.admin.qxgl.dao.S_USER_USERRolesMapper" >
  <resultMap id="BaseResultMap" type="com.xh.xiaoyiduo.admin.qxgl.pojo.S_USER_USERROLES" >
    <id column="USER_ROLE_ID" property="userRoleId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ROLE_ID, USER_ID, ROLE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from S_USER_USERROLES
    where USER_ROLE_ID = #{userRoleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from S_USER_USERROLES
    where USER_ID = #{userId,jdbcType=VARCHAR} and ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xh.xiaoyiduo.admin.qxgl.pojo.S_USER_USERROLES" >
    insert into S_USER_USERROLES (USER_ID, ROLE_ID
      )
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.xiaoyiduo.admin.qxgl.pojo.S_USER_USERROLES" >
    insert into S_USER_USERROLES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        USER_ROLE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        #{userRoleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.xiaoyiduo.admin.qxgl.pojo.S_USER_USERROLES" >
    update S_USER_USERROLES
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ROLE_ID = #{userRoleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.xiaoyiduo.admin.qxgl.pojo.S_USER_USERROLES" >
    update S_USER_USERROLES
    set USER_ID = #{userId,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR}
    where USER_ROLE_ID = #{userRoleId,jdbcType=VARCHAR}
  </update>
</mapper>