<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.xiaoyiduo.admin.ddgl.dao.B_GOOD_ORDERMapper" >
  <resultMap id="BaseResultMap" type="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="BUYER_ID" property="buyerId" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_ADDRESS" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ORDER_CREATE_TIME" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="FLOAT" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="delivery Method" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="SELLER_ID" property="sellerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_ID, USER_ID, BUYER_ID, BUYER_NAME, BUYER_ADDRESS, PHONE, EMAIL, ORDER_CREATE_TIME, 
    TOTAL_PRICE, ORDER_STATUS, "delivery Method", SELLER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_GOOD_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_GOOD_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    insert into B_GOOD_ORDER (ORDER_ID, USER_ID, BUYER_ID, 
      BUYER_NAME, BUYER_ADDRESS, PHONE, 
      EMAIL, ORDER_CREATE_TIME, TOTAL_PRICE, 
      ORDER_STATUS, "delivery Method", SELLER_ID
      )
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{buyerName,jdbcType=VARCHAR}, #{buyerAddress,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{totalPrice,jdbcType=FLOAT}, 
      #{orderStatus,jdbcType=VARCHAR}, #{deliveryMethod,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    insert into B_GOOD_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="buyerId != null" >
        BUYER_ID,
      </if>
      <if test="buyerName != null" >
        BUYER_NAME,
      </if>
      <if test="buyerAddress != null" >
        BUYER_ADDRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="orderCreateTime != null" >
        ORDER_CREATE_TIME,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="deliveryMethod != null" >
        "delivery Method",
      </if>
      <if test="sellerId != null" >
        SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    update B_GOOD_ORDER
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        BUYER_ID = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        BUYER_ADDRESS = #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        "delivery Method" = #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        SELLER_ID = #{sellerId,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    update B_GOOD_ORDER
    set USER_ID = #{userId,jdbcType=VARCHAR},
      BUYER_ID = #{buyerId,jdbcType=VARCHAR},
      BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      BUYER_ADDRESS = #{buyerAddress,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},
      TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      "delivery Method" = #{deliveryMethod,jdbcType=VARCHAR},
      SELLER_ID = #{sellerId,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>