<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.xiaoyiduo.admin.ddgl.dao.B_GOOD_ORDERMapper" >
  <resultMap id="BaseResultMap" type="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="BUYER_ID" property="buyerId" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_ADDRESS" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ORDER_CREATE_TIME" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="SINGLE_PRICE" property="singlePrice" jdbcType="FLOAT" />
    <result column="GOOD_NUMBER" property="goodNumber" jdbcType="DOUBLE" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="FLOAT" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="delivery Method" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="ORDER_MESSAGE" property="orderMessage" jdbcType="VARCHAR" />
    <result column="SELLER_ID" property="sellerId" jdbcType="VARCHAR" />
    <result column="GOOD_ID" property="goodId" jdbcType="VARCHAR" />
    <association property="good" column="GOOD_ID" select="com.xh.xiaoyiduo.admin.spgl.dao.B_GOODMapper.selectByPrimaryKey"/>
    <collection property="resources" column="GOOD_ID" select="com.xh.xiaoyiduo.admin.spgl.dao.ResourcesMapper.selectBySourceId"/>
  </resultMap>

  <resultMap id="BackOrderMap" type="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="BUYER_ID" property="buyerId" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_ADDRESS" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ORDER_CREATE_TIME" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="SINGLE_PRICE" property="singlePrice" jdbcType="FLOAT" />
    <result column="GOOD_NUMBER" property="goodNumber" jdbcType="DOUBLE" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="FLOAT" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="delivery Method" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="ORDER_MESSAGE" property="orderMessage" jdbcType="VARCHAR" />
    <result column="SELLER_ID" property="sellerId" jdbcType="VARCHAR" />
    <result column="GOOD_ID" property="goodId" jdbcType="VARCHAR" />

    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_phone" property="sellerPhone" jdbcType="VARCHAR" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="seller_address" property="sellerAddress" jdbcType="VARCHAR" />

    <association property="good" column="GOOD_ID" select="com.xh.xiaoyiduo.admin.spgl.dao.B_GOODMapper.selectByPrimaryKey"/>
    <association property="seller" column="SELLER_ID" select="com.xh.xiaoyiduo.shop.dao.S_USERMapper.selectByUserId"/>
    <collection property="resources" column="GOOD_ID" select="com.xh.xiaoyiduo.admin.spgl.dao.ResourcesMapper.selectBySourceId"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_ID, BUYER_ID, BUYER_NAME, BUYER_ADDRESS, PHONE, EMAIL, ORDER_CREATE_TIME,
    SINGLE_PRICE, GOOD_NUMBER,
    TOTAL_PRICE, ORDER_STATUS, "delivery Method", ORDER_MESSAGE, SELLER_ID, GOOD_ID,
    seller_name, seller_phone, seller_email, seller_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_GOOD_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <!--前端显示所有订单-->
  <select id="selectAllOrder" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from B_GOOD_ORDER
      where buyer_id = #{buyerId,jdbcType=VARCHAR}
  </select>
  <!--订单个数-->
  <select id="getOrderCount" resultType="int" >
    select
    count(1)
    from B_GOOD_ORDER
    <if test="sellerId != null">
      where seller_id = #{sellerId,jdbcType=VARCHAR}
    </if>
    <choose>
      <when test="orderId != null">
        where order_id like concat('%',concat(#{orderId}, '%'))
        <if test="buyerName != null">
          and buyer_name like concat('%',concat(#{buyerName}, '%'))
        </if>
        <if test="orderStatus != null">
          and order_status like concat('%',concat(#{orderStatus}, '%'))
        </if>
      </when>
      <otherwise>
        <choose>
          <when test="buyerName != null">
            buyer_name like concat('%',concat(#{buyerName}, '%'))
            <if test="orderStatus != null">
              order_status like concat('%',concat(#{orderStatus}, '%'))
            </if>
          </when>
          <otherwise>
            <if test="orderStatus != null">
              order_status like concat('%',concat(#{orderStatus}, '%'))
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>
  </select>
  <!--后端显示所有订单-->
  <select id="getAllOrdersBackend" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT *
    FROM (SELECT r.*,ROWNUM rn
    FROM(
    select
    <include refid="Base_Column_List" />
    from B_GOOD_ORDER
    <if test="sellerId != null">
      where seller_id = #{sellerId,jdbcType=VARCHAR}
    </if>
    <choose>
      <when test="orderId != null">
        where order_id like concat('%',concat(#{orderId}, '%'))
        <if test="buyerName != null">
          and buyer_name like concat('%',concat(#{buyerName}, '%'))
        </if>
        <if test="orderStatus != null">
          and order_status like concat('%',concat(#{orderStatus}, '%'))
        </if>
      </when>
      <otherwise>
        <choose>
          <when test="buyerName != null">
            buyer_name like concat('%',concat(#{buyerName}, '%'))
            <if test="orderStatus != null">
              order_status like concat('%',concat(#{orderStatus}, '%'))
            </if>
          </when>
          <otherwise>
            <if test="orderStatus != null">
              order_status like concat('%',concat(#{orderStatus}, '%'))
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>
    order by ORDER_CREATE_TIME desc
    ) r
    where ROWNUM &lt;= #{pageSize} * #{currentPage}
    ) WHERE rn > #{pageSize} * ( #{currentPage} - 1)
  </select>
  <!--后端显示商品详情-->
  <select id="showBackGoodOrdel" resultMap="BackOrderMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from B_GOOD_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_GOOD_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    insert into B_GOOD_ORDER (ORDER_ID, BUYER_ID,
      BUYER_NAME, BUYER_ADDRESS, PHONE, 
      EMAIL, ORDER_CREATE_TIME, TOTAL_PRICE, 
      ORDER_STATUS, "delivery Method", SELLER_ID,
      SINGLE_PRICE, GOOD_NUMBER, ORDER_MESSAGE, GOOD_ID
      )
    values (#{orderId,jdbcType=VARCHAR},  #{buyerId,jdbcType=VARCHAR},
      #{buyerName,jdbcType=VARCHAR}, #{buyerAddress,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{totalPrice,jdbcType=FLOAT}, 
      #{orderStatus,jdbcType=VARCHAR}, #{deliveryMethod,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR},
      #{singlePrice,jdbcType=FLOAT},#{goodNumber,jdbcType=DOUBLE},#{orderMessage,jdbcType=VARCHAR},
      #{goodId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    insert into B_GOOD_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="buyerId != null" >
        BUYER_ID,
      </if>
      <if test="buyerName != null" >
        BUYER_NAME,
      </if>
      <if test="buyerAddress != null" >
        BUYER_ADDRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="orderCreateTime != null" >
        ORDER_CREATE_TIME,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="deliveryMethod != null" >
        "delivery Method",
      </if>
      <if test="sellerId != null" >
        SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>

      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    update B_GOOD_ORDER
    <set >

      <if test="buyerId != null" >
        BUYER_ID = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        BUYER_ADDRESS = #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        "delivery Method" = #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        SELLER_ID = #{sellerId,jdbcType=VARCHAR},
      </if>

      <if test="singlePrice != null" >
        SINGLE_PRICE = #{singlePrice,jdbcType=FLOAT},
      </if>
      <if test="goodNumber != null" >
        GOOD_NUMBER = #{goodNumber,jdbcType=DOUBLE},
      </if>
      <if test="orderMessage != null" >
        ORDER_MESSAGE = #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        GOOD_ID = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        SELLER_NAME = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        SELLER_PHONE = #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        SELLER_EMAIL = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerAddress != null" >
        SELLER_ADDRESS = #{sellerAddress,jdbcType=VARCHAR}
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.xiaoyiduo.admin.ddgl.pojo.B_GOOD_ORDER" >
    update B_GOOD_ORDER
    set
      BUYER_ID = #{buyerId,jdbcType=VARCHAR},
      BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      BUYER_ADDRESS = #{buyerAddress,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},
      TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      "delivery Method" = #{deliveryMethod,jdbcType=VARCHAR},
      SELLER_ID = #{sellerId,jdbcType=VARCHAR},

      SINGLE_PRICE = #{singlePrice,jdbcType=FLOAT},
      GOOD_NUMBER = #{goodNumber,jdbcType=DOUBLE},
      ORDER_MESSAGE = #{orderMessage,jdbcType=VARCHAR},
      GOOD_ID = #{goodId,jdbcType=VARCHAR},
      SELLER_NAME = #{sellerName,jdbcType=VARCHAR},
      SELLER_PHONE = #{sellerPhone,jdbcType=VARCHAR},
      SELLER_EMAIL = #{sellerEmail,jdbcType=VARCHAR},
      SELLER_ADDRESS = #{sellerAddress,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>