<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.xiaoyiduo.admin.lygl.dao.B_GOOD_MESSAGEMapper" >
  <resultMap id="BaseResultMap" type="com.xh.xiaoyiduo.admin.lygl.pojo.B_GOOD_MESSAGE" >
    <id column="MESSAGE_ID" property="messageId" jdbcType="VARCHAR" />
    <result column="GOOD_ID" property="goodId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="MESSAGE_CONTENT" property="messageContent" jdbcType="VARCHAR" />
    <result column="MESSAGE_TIME" property="messageTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    MESSAGE_ID, GOOD_ID, USER_ID, MESSAGE_CONTENT, MESSAGE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_GOOD_MESSAGE
    where MESSAGE_ID = #{messageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_GOOD_MESSAGE
    where MESSAGE_ID = #{messageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xh.xiaoyiduo.admin.lygl.pojo.B_GOOD_MESSAGE" >
    insert into B_GOOD_MESSAGE (MESSAGE_ID, GOOD_ID, USER_ID, 
      MESSAGE_CONTENT, MESSAGE_TIME)
    values (#{messageId,jdbcType=VARCHAR}, #{goodId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{messageContent,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xh.xiaoyiduo.admin.lygl.pojo.B_GOOD_MESSAGE" >
    insert into B_GOOD_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        MESSAGE_ID,
      </if>
      <if test="goodId != null" >
        GOOD_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="messageContent != null" >
        MESSAGE_CONTENT,
      </if>
      <if test="messageTime != null" >
        MESSAGE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.xiaoyiduo.admin.lygl.pojo.B_GOOD_MESSAGE" >
    update B_GOOD_MESSAGE
    <set >
      <if test="goodId != null" >
        GOOD_ID = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        MESSAGE_TIME = #{messageTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MESSAGE_ID = #{messageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.xiaoyiduo.admin.lygl.pojo.B_GOOD_MESSAGE" >
    update B_GOOD_MESSAGE
    set GOOD_ID = #{goodId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      MESSAGE_TIME = #{messageTime,jdbcType=TIMESTAMP}
    where MESSAGE_ID = #{messageId,jdbcType=VARCHAR}
  </update>
</mapper>