body {
    background-color: rgb(235,242,249);
}
.notice_meta {
    margin: 8px 10px;
    float: left;
    position: relative;
}
.notice_parent {
    background-color: white;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    float: left;
    padding: 20px 0px 14px 0px;
}
.notice_title {
    margin: 0px 20px 10px 20px;
    font-size: 18px;
    color: rgb(66,66,66);
    font-family: Microsoft YaHei;
}
.notice_content {
    font-size: 15px;
    margin: 0px 20px;
    color: rgb(158,158,158);
}
.notice_release_time {
    float: right;
    margin-top: 16px;
    margin-right: 20px;
    color: rgb(175,175,175);
    font-size: 13px;
}