.messageArea{
    margin: 23px 23px 9px 17px;
}
.messageArea .message_content{
    margin-bottom: 21px
}
.messageArea .user{
    display: inline;
}
.messageArea .message{
    display: inline;
    margin-left: 13px;
}
.messageArea .message a{
    color: #2c7bef;
}
.messageArea .message a:hover{
    color: #0257d4;
    cursor: pointer;
}
.messageArea .message_time{
}