<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.xiaoyiduo.dao.UserMapper">
    <select id="getUser" parameterType="string" resultType="user">
        select username from test_user where username = #{username}
    </select>

    <insert id="insertUser" parameterType="string">
        insert into test_user(username) values (#{username})
    </insert>
</mapper>